html{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #212121;
    color: white;
}

.menu{
    padding-left: 15%;
    padding-right: 15%;
    display:flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.selection{
    display:flex;
    gap:100px;
    height:50%;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
button{
    background-color: #404040;
    border-style: none;
    border-radius: 10px;
    height:200px;
    width: 200px;
    display:flex;
    align-items:center;
    justify-content: center;
}
#message{
    text-align: center;
    margin-top:100px;
}

button:hover{
    width:230px;
    height:230px;
    transition:0.4s;
    transform: 2s, ease-out .2s;
    cursor:pointer;
    
}

button:not(:hover){
    transition: 0.4s;
}

#replay{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-bottom: 30px;
}

#tryAgain{
    background-color: #99ccff;
    height: 40px;
    width: 120px;
    color: white;
    visibility:hidden;
    justify-content: center;
    gap:30px;

}
#tryAgain:hover{
    width: 160px;
}
img {
    height:120px;
    width: 120px;
    background-color: transparent;
}
img:hover{
    height:150px;
    width:150px;
    transition: .1s
}
.contact{
    display:flex;
    justify-content: center;
    align-items: start;
}
img#git{
    height:70px;
    width:70px;
}
img#git:hover{
    height:100px;
    width:100px;
}
